.day {
  border: 1px solid #CCC;
}

  .day-top {
    height: 120px;
    overflow-y: auto;
    padding-left: 50px;
    border-bottom: 1px solid #DDD;
  }
    .day-top-tasks, .day-top-allday {
      float: left;
      width: 50%;
    }
    .day-appointments,
    .day-deadlines {
      position: relative;
    }
    .day-appointments li,
    .day-deadlines li {
      position: absolute;
    }
    
  .day-hours {
    clear: both; 
    width: 50px; 
    border-right: 1px solid #DDD; 
    float: left;
    margin: 0; 
    padding: 0; 
    list-style: none inside;
  }  
    .day-hours li {
      height: 59px; 
      border-bottom: 1px solid #EEE; 
      margin: 0; 
      padding: 0 4px;
      font-size: 11px;
    }
    
  .day-full {
    width: auto; 
    margin: 0 0 0 51px; 
    padding: 0; 
  }
  
  