.day {
  border: 1px solid #CCC;
}

  .day-top {
    height: 60px;
    overflow-y: auto;
    border-bottom: 1px solid #DDD;
  }
    .day-top-allday {
      margin: 0 0 0 51px;
      padding: 0; 
      width: auto;
    }
    
    .day-top h3 {
      text-transform: uppercase; 
      text-align: center;
      color: #72D472;
      margin: 0;
      padding: 5px 0;
      width: 50px; 
      border-right: 1px solid #DDD; 
      float: left;      
      height: 50px; 
    }
    
    .day-top-allday ul { 
      margin: 5px 10px; 
      width: auto;
    }
    
    .day-top li {
      display: block;
      float: left;
      width: 33%;
    }
    
  .day-wrapper {
    overflow: hidden;
  }
    .day-appointments,
    .day-deadlines {
      position: relative;
      margin: 0; 
      padding: 0;
    }
    .day-deadlines {
    }
    .day-appointments li,
    .day-deadlines li {
      position: absolute;
      width: 50%; 
      font-size: 11px; 
      line-height: 15px; 
      left: 50%;
    }
    .day-deadlines li {
      background: #FDDCDC;
      left: 0;
    }
    
    .day-deadlines li input  {
      vertical-align: middle;
    }
    .collision_box {
      position: absolute;
      width: 50%;
      left: 50%; 
      overflow: auto;
      background-color: #ECECFF;
    }
    .day-deadlines .collision_box {
      background: #FDDCDC;
    }
    .collision_box .event {
      padding: 0 5px; 
      width: auto;
      left: 0%;
    }
        
  .day-hours {
    clear: both; 
    width: 50px; 
    border-right: 1px solid #DDD; 
    float: left;
    margin: 0; 
    padding: 0; 
    list-style: none inside;
  }  
    .day-hours li {
      height: 59px; 
      border-bottom: 1px solid #EEE; 
      margin: 0; 
      padding: 0 4px;
      font-size: 11px;
    }
    
  .hourslice {
    height: 15px;
  }
  
  .hourslice-last {
    height: 14px;
  }
    
  .day-full {
    width: auto; 
    margin: 0 0 0 51px; 
    padding: 0; 
  }

h2.day-date {
  text-align: center;
  border-top: 1px solid #DDD; 
}
a.day-nav {
  font-size: 1.2em; 
  line-height: 2.4em; 
  text-transform: uppercase;
  margin: 1px 0 0; 
  padding: 0 1em;
  display: block;  
  color: #999; 
  text-decoration: none; 
  font-weight: bold; 
}
  a.day-nav.prev { float: left; }
  a.day-nav.next { float: right; }
  a.day-nav:hover {
    background: #EEE;
    color: #73A3D3;
    text-decoration: none; 
  }