.day {
  border: 1px solid #CCC;
}
  .day li { position: relative; }

  .day-top {
    border-bottom: 1px solid #DDD;
    background: #F9F9F9;
  }
    .day-top-allday {
      margin: 0 0 0 51px;
      padding: 0; 
      width: auto;
    }
    
    .day-top h3.gutter {
      text-transform: uppercase; 
      text-align: center;
      color: #72D472;
      margin: 0;
      padding: 5px 0;
      width: 50px; 
      background: #FFF; 
      border-right: 1px solid #DDD; 
      border-bottom: 1px solid #DDD; 
      float: left;      
    }
    
    .day-top-allday ul { 
      margin: 0 10px;
      padding: 5px 0; 
      width: auto;
      position: relative; 
    }
    
    .day-top li {
      display: block;
      float: left;
      width: 32%;
      position: relative; 
      border-bottom: 1px solid #DDD; 
      padding: 0.1em 0 0.1em 0.25em; 
      margin: 0 0.25em 0.1em 0;
    }

  .day-top .clear {
    height: 5px;
  }
    
  .viewport {
    overflow: hidden;
  }
    .day-appointments,
    .day-deadlines {
      position: relative;
      margin: 0; 
      padding: 0;
    }
    .day-deadlines {
      height: 0px;
    }
    .day-appointments li,
    .day-deadlines li {
      position: absolute;
      width: 50%; 
      font-size: 11px; 
      line-height: 15px; 
      left: 50%;
    }
    .day-deadlines li {
      background: #EEE;
      left: 0;
      color: #B32914;
    }
    
    li.appointment, li.appointment a { color: #114499; }
    li.deadline, li.deadline a { color: #B32914; }
    li.task, li.task a { color: #D95C26; }
    li.allday, li.allday a { color: #5ead5e; }
    
    a.event_title { text-decoration: none; }
    
    .day-deadlines li input  {
      vertical-align: middle;
    }
    .collision_box {
      position: absolute;
      width: 50%;
    }
    .day-appointments li, .collision_box { background: #F3F3F3; }
    .day-deadlines li, .day-deadlines .collision-box { background: #F3F3F3; }

    .day-appointments .collision_box {
      left: 50%;
		}

    .collision_box .event {
      padding: 0 4px; 
      width: auto;
      left: 0%;
      height: 15px; 
    }
        
    /* marking completed tasks and deadlines */
    li.complete .event-title {
      color: #AAA;
      font-size: 0.9em;
    }
  
  .day-hours {
    clear: both; 
    width: 50px; 
    border-right: 1px solid #DDD; 
    float: left;
    margin: 0; 
    padding: 0; 
    list-style: none inside;
    text-align: center; 
    overflow: hidden;
  }  
    .day-hours li {
      height: 59px; 
      border-bottom: 1px solid #CCC; 
      margin: 0; 
      font-size: 11px;
      width: 100%;
    }
    
  .hourslice {
    height: 15px;
    z-index: -100;
    position: relative;
    width: auto; 
    padding: 0;  
  }
  
  .hourslice-last {
    height: 14px;
  }
    
  #day .day-full {
    width: auto; 
    margin: 0 0 0 51px; 
    padding: 0; 
  }

.mini_cal h2 {
  color: #114499;
}

h2.day-date {
  text-align: center;
  border-top: 1px solid #E3E3E3; 
}
a.day-nav {
  font-size: 1.2em; 
  line-height: 2.4em; 
  text-transform: uppercase;
  margin: 1px 0 0; 
  padding: 0 1em;
  display: block;  
  color: #999; 
  text-decoration: none; 
  font-weight: bold; 
}
  a.day-nav.prev { float: left; }
  a.day-nav.next { float: right; }
  a.day-nav:hover {
    background: #EEE;
    color: #73A3D3;
    text-decoration: none; 
  }