li.event, li.event span {
  position: relative; 
}

li.event .event-details {
  z-index: 100; 
  position: absolute; 
  left: 100%; 
  top: -3px;
  border-style: solid; 
  border-width: 1px; 
  border-color: #CCC #CCC #CCC #FFF; 
  background: #FFF;
  width: 150%; 
  margin-left: 2px; 
  padding: 2px 0.5em; 
}
  .day li.event.appointment .event-details, 
  .day li.event.deadline .event-details {
    top: 0;
    width: 75%;
  }
    .day li.event.appointment .event-details {
      left: auto; 
      right: 100%; 
      border-color: #ECECFF #ECECFF #CCC #CCC;
    }
    .day li.event.deadline .event-details {
      left: 95%; 
      right: auto; 
      border-color: #FDDCDC #CCC #CCC #FDDCDC;
      z-index: 200;
      margin-left: 0;
    }
    
    li.event.allday .event-details {
      left: 2%; 
      margin-left: 0; 
      top: 100%;
      right: auto; 
      width: 90%; 
      z-index: 200; 
      border-color: #EEE #CCC #CCC;
    }
    
  #sidebar .event-details {
    left: auto;
    right: 100%; 
    margin: 0 0 0 11px; 
    border-color: #CCC #F3F3F3 #CCC #CCC;
    width: 100%; 
    margin: 0 11px 0 0;
  }
  li.event .event-details li {
    background: #FFF; 
  }

.event-details h4 {
  text-align: center; 
  color: #999; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: 1em;
  padding: 0.25em 0; 
  border-bottom: 1px solid #EEE; 
  margin-bottom: 0.25em; 
}
.event-details h3 {
  font-weight: normal; 
  color: #D95C26; 
  text-align: left; 
  font-size: 1.4em; 
  margin-bottom: 2px; 
  float: none; 
}
.event-details ul {
  margin: 0 0 1em; 
  border-top: 1px solid #CCC; 
}
.event-details li {
  border-bottom: 1px solid #EEE; 
  padding: 2px 0.25em 2px 1em; 
  margin: 0;
  font-size: 1.2em; 
  position: relative; 
  display: list-item; 
  top: auto; 
  left: auto; 
  width: auto;
  float: none; 
}

.event-details li.event_time {
  font-size: 1.4em; 
  color: #73A3D3;
  padding-left: 0;
}
.event-details li.event_creator {
  font-size: 1em; 
  color: #666;
}
.event-details li input {
}