form.new_event {
  
}

.new_event input, .new_event label, .new_event select, 
.new_event div.editable_time, .new_event div.editable_date {
  display: inline-block; 
  vertical-align: middle;
  margin-bottom: 5px; 
}

.new_event label {
  text-align: right; 
  padding-right: 10px; 
  width: 25%;
}

.new_event input {
  width: 55%;
}
.new_event input[type=checkbox] {
  width: auto; 
}
.new_event input[type=hidden] {
  width: 0; 
  padding: 0; 
  margin: 0; 
}
.new_event input[type=submit] {
  width: auto; 
  margin-left: 25%; 
  padding-left: 10px;
}
.new_event .editable_time, .new_event .editable_date {
  width: 65%; 
  text-align: left; 
  color: #73A3D3;
  cursor: default; 
}

.new_event div.editable_time {
  clear: both; 
  margin-left: 25%; 
  padding-left: 15px; 
}
  .new_event .editable_time select, 
  .new_event .editable_date select,  
  .new_event .editable_time input,
  .new_event .editable_date input {
    margin: 0; 
  }
  .new_event .editable_date input {
    width: 75%; 
  }  
  .new_event .editable_time select {
    margin: 0 4px 0 0;
  }

.event_field_tags_add {
  display: inline-block;
  margin: 0 0.5em; 
  padding: 0 0.5em;
  text-transform: uppercase; 
  font-size: 0.9em; 
  font-weight: bold;
  cursor: default; 
  color: #5EAD5E;  
}
  .event_field_tags_add:hover {
    background: #5EAD5E; 
    color: #FFF; 
  }

ul.tags {
  list-style: none; 
  color: #666; 
}
.new_event ul.tags {
  margin: 0 0 0 25%;
  padding-left: 10px; 
  width: 65%; 
}
  .tags li {
    margin: 0;
  }
  .tags li:last-child {
    margin-bottom: 0.5em;
  }
  .tags li:hover {
  }
    .tags li a {
      display: block; 
      float: right; 
      color: #B32914; 
      text-decoration: none; 
      cursor: default;
      padding: 0 0.5em;
    }
    .tags li a:hover {
      font-weight: bold; 
      color: #FFF; 
      background: #B32914;
    }