#cal_search img.spinner {
  float: left; 
  margin: 0 0.25em 0 0;
}
#cal_search h3 {
  padding: 0.25em 8px; 
  border-bottom: 1px solid #DDDDDD; 
  margin: 0.25em 0 0; 
  text-align: center; 
  font-weight: normal;
  font-size: 1.2em; 
}
  #cal_search h3 .search_term {
    color: #333333;
    font-weight: bold; 
  }

#cal_search ul.results {
  max-height: 300px;
  overflow: auto;
}
  #cal_search .results li {
    padding: 2px 4px; 
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #F3F3F3;
    background: #FFFFFF;
  }
    #cal_search .results li:first-child { border-top: 0px none; }
    #cal_search .results li:hover {
      border-bottom: 1px solid #DDDDDD;
    }

#cal_search .results input.checkbox {
  float: right; 
  margin: 0; 
}
#cal_search .results li a {
  height: auto; 
  padding-right: 2px; 
  text-decoration: none;
}
#cal_search .results span {
  padding: 0 2px 0 0; 
}
  #cal_search .results span.date {
    color: #666666; 
    text-transform: uppercase;
    text-align: center; 
  }
    #cal_search .results .complete span.date {
      color: #AAAAAA;
    }
  #cal_search .results span.time {
    font-weight: bold;
  }