form.new_event {
  
}

.new_event input, .new_event label, .new_event select {
  display: inline-block; 
  vertical-align: middle;
  margin-bottom: 5px; 
}

.new_event label {
  text-align: right; 
  padding-right: 10px; 
  width: 25%;
}

.new_event input {
  width: 65%;
}
.new_event input[type=checkbox] {
  width: auto; 
}
.new_event input[type=hidden] {
  width: 0; 
}
.new_event input[type=submit] {
  width: auto; 
  margin-left: 25%; 
  padding-left: 10px;
}

ul.tags {
  margin: 0 0 0 25%;
  padding-left: 10px; 
  list-style: none; 
  color: #666; 
  width: 65%; 
}
  .tags li {
    margin: 0.25em 0 0.5em;
  }
  .tags li:hover {
    color: #333; 
  }
    .tags li a {
      display: block; 
      float: right; 
      color: #333; 
      text-decoration: none; 
      cursor: default;
      padding: 0 0.5em;
    }
    .tags li a:hover {
      font-weight: bold; 
      color: #FFF; 
      background: #B32914;
    }