li.event .event-details {
  display: none; 
}

.event-details h4 {
  text-align: center;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  padding: 0.25em 0;
  border-bottom: 1px solid #EEE;
  margin-bottom: 0.25em;
}
  .event-details h4.event_type-task { color: #D95C26; }
  .event-details h4.event_type-appointment { color: #114499; }
  .event-details h4.event_type-deadline { color: #B32914; }
  .event-details h4.event_type-allday { color: #72D472; }

.event-details h3 {
  font-weight: normal;
  color: #D95C26;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-top: 8px;
  float: none;
}
.event-details ul {
  margin: 0 0 1em;
  border-top: 1px solid #CCC;
}
.event-details li {
  border-bottom: 1px solid #EEE;
  padding: 4px 0.25em 4px 1em;
  margin: 0;
  font-size: 1.2em;
  position: relative;
  display: list-item;
  top: auto;
  left: auto;
  width: auto;
  float: none;
}

.event-details li.event_date, 
.event-details li.event_time {
  font-size: 1.4em;
  color: #73A3D3;
  padding-left: 0;
}
  .event-details li.event_date { color: #666; }
.event-details li.event_creator {
  font-size: 1em;
  color: #666;
}
.event-details form {
  font-size: 1em; 
  width: auto; 
  margin: 0; 
  padding: 0; 
  display: inline;
}
.event-details input, .event-details select {
  font-size: 0.9em; 
}
.event-details li select {
  margin: 0 0.25em;
  font-size: 0.75em;
}