<ul>
  <li>
    <%= 
      link_to_unless_current('Calendar', root_path) do |link|
        content_tag 'span', link, :class => 'current'
      end 
    %>
  </li>
  <li>
    <%= 
      link_to_unless_current('Dashboard', dashboard_account_path) do |link|
        content_tag 'span', link, :class => 'current'
      end 
     %>
  </li>
  <% if current_user %>
    <li class="logout">
      <%=
        link_to 'Logout', destroy_user_session_path
      %>
    </li>
  <% end %>
</ul>
