<li class="event_date">
  Due on:
  <span  data-field-name="starts_at_date" id="event-starts_at_date-<%= event.id%>" class="event_starts_date editable_date">
    <%= event.starts_at.to_s(:Mdth) %>
  </span>
</li>