<li class="event_date">
  Due on:
  <span rel="<%= event.id %>" data-field-name="starts_at_date" id="event-starts_at_date-<%= event.id%>" class="event_starts_date editable_date editable"
    ><%= l(event.starts_at.to_date, :format => :short_day_month_first) %></span>
</li>
