<% content_for :head do %>
  <%= stylesheet_link_tag 'event-new' %>
<% end %>

<h2>Add a New Event</h2>
<% form_for @event || Event.new do |f| -%>
  <%= render :partial => 'events/fields', :locals => { :f => f } %>
<% end -%>
