<li class='email-address'>
  <%= f.hidden_field '_destroy' %>
  <%= f.text_field :email, :placeholder => 'Email Address', :class => 'medium' %>
  <%= f.select :label, options_for_select([ 'Main', 'Backup'], f.object.label) %>

  <%= link_to 'x', '#', :class => 'delete' %>
</li>
