<ul class='contacts'>
  <% current_user.recent_contacts.each do |contact| %>
    <li>
      <%= link_to "#{contact.name}:", edit_contact_path(contact) %> <%= number_to_phone(contact.phone_numbers.first.number) %> <%= mail_to contact.email_addresses.first.email, contact.email_addresses.first.email.truncate(15), :title => contact.email_addresses.first.email %>
    </li>
  <% end %>
</ul>
