<div id="cal_search" class="sidebar_block cal_search">
  <div id="cal_search_form" class="content">
    <form id="search_tag" class="search_tag">
      <div class="form_field search_field_tag">
        <label for="search_tag" class="search_field_tag">Search</label>
        <input type="text" value="" size="30" placeholder="Start typing to search event tags..." name="search[tag]" id="event_tag_search" autocomplete="OFF">
      </div>
    </form>
    <div id="cal_search_results"></div>
  </div>
</div>