<table class="week" id="week-dayname-header">
    <tr>
      <th class="week-hours"></th>
      <% (0..6).each do |day| %>
        <th class="day-<%= day %>">
        <%= (day == 0 || day == 6) ? 
                Date::ABBR_DAYNAMES[day] : 
                Date::DAYNAMES[day] %>
        </th>
      <% end %>
    </tr>
</table>