<table class="week" id="week-dayname-header">
  <thead>
    <tr>
      <th></th>
      <% (0..6).each do |day| %>
        <th>
        <%= (day == 0 || day == 6) ? 
                Date::ABBR_DAYNAMES[day] : 
                Date::DAYNAMES[day] %>
        </th>
      <% end %>
    </tr>
  </thead>
</table>