<div class="sidebar-tasks sidebar-block">
  <h2>Tasks</h2>
  <div class="content">
  <ul class="task-list">
    <% get_tasks(events).each do |t| %>
      <%= render :partial => "events/event", :locals => { :event => t } %>
    <% end %>
  </ul>
  </div>
</div>
