<% ['am', 'pm'].each do |meridian| %>
  <% (0..11).each do |n| %>
    <% h = meridian == 'am' ? n : n + 12 %>
    <li>
      <% for m in ['00','15','30','45'] %>
        <div id="<%= l(@date, :format => :yw) %>-timerow-<%= "#{h}#{m}" %>" class="hourslice">
          <%= "#{n == 0 ? 12 : n}#{meridian}" if m == '00' %>
        </div>
      <% end %>
    </li>
  <% end %>
<% end %>
