
<tr>
    <td>
      <ul class="week-hours">
        <%= render :partial => 'timeline' %>
      </ul>
    </td>
    <% (date.beginning_of_week.yesterday..date.end_of_week.yesterday).each do |day| %>
    <td class="day-<%= day.wday %>">
      <ul id="deadlines">
        <% deadlines.select{ |e| e.starts_at.to_date == day }.each do |d| %>
          <%= d.starts_at.to_s(:simple) + ": " + d.name %> <br />
        <% end %>
      </ul>

      <ul id="appointments">
        <% appointments.select{ |e| e.starts_at.to_date == day }.each do |a| %>
          <%= a.name %><br />
        <% end %>
      </ul>
    </td>
    <% end %>  
</tr>
