<tr class="week-day-full">
    <td class="week-hours">
      <ul class="week-hours">
        <%= render :partial => 'timeline' %>
      </ul>
    </td>
    <% (date.beginning_of_week.yesterday..date.end_of_week.yesterday).each do |day| %>
    <td class="day-<%= day.wday %>">
      <ul class="deadlines">
        <% deadlines.select{ |e| e.starts_at.to_date == day }.each do |d| %>
          <li><%= d.starts_at.to_s(:simple) + ": " + d.name %></li>
        <% end %>
      </ul>

      <ul class="appointments">
        <% appointments.select{ |e| e.starts_at.to_date == day }.each do |a| %>
          <li><%= a.name %></li>
        <% end %>
      </ul>
    </td>
    <% end %>  
</tr>
