<tr class="week-allday">
  <th>All Day</th>
  <% (date.beginning_of_week..date.end_of_week).each do |day| %>
  <td class="day-<%= day.wday %>" data-date="<%=h day.to_s %>">
    <ul class="alldays">
      <% get_all_days(events).select{ |e| e.starts_at.to_date == day || e.ends_at.to_date == day || 
          (e.starts_at.to_date < day && e.ends_at.to_date > day ) }.each do |a| %>
            <%= render :partial => "events/event_allday", :locals => { :event => a } %>
      <% end %>
    </ul>
    <ul class="tasks">
      <% get_tasks(events).select{ |e| e.starts_at.to_date == day }.each do |a| %>
            <%= render :partial => "events/event_task", :locals => { :event => a } %>
      <% end %>
    </ul>
  </td>
  <% end %>
</tr>