form.edit_account {

}

  form.edit_account fieldset {
    margin-bottom: 10px;
  }

    form.edit_account a.delete {
      color: #b32914;
      font-size: 14px;
      font-weight: bold;
    }

    form.edit_account fieldset ul {
      margin: 0 0 25px 0;
    }

      form.edit_account fieldset ul li {
        margin: 0 0 10px 0;
      }

      form.edit_account fieldset ul li ul {
        margin: 10px 0 25px 25px;
      }

    form.edit_account fieldset label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    form.edit_account fieldset p {
      margin-bottom: 0;
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 12px;
      color: #666666;
    }

    form.edit_account fieldset input,
    form.edit_account fieldset textarea {
      padding: 5px;
    }
