// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar .section.contacts a.add-contact {
  display: block;
  margin: 10px auto 0 auto;
  width: 150px;
  text-transform: uppercase;
  text-align: center; 
  font-weight: bold;
  color: #73A3D3;
}

  #sidebar .section.contacts a.add-contact:hover {
    color: #FFFFFF;
    text-decoration: none;
    background: #73A3D3;
  }

#sidebar-slideout form fieldset {
  margin: 0 0 10px 0;
}

#sidebar-slideout form label {
  display: block;
  margin: 0 0 10px 0;
}

#sidebar-slideout form input[type=text],
#sidebar-slideout form textarea {
  padding: 5px;
}

#sidebar-slideout form .name {
  overflow: hidden;
  margin: 0 0 10px 0;
}

  #sidebar-slideout form .name input {
    float: left;
    margin-right: 10px;
    width: 100px;
  }
