// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar .section.contacts ul.contacts {
  overflow-y: scroll;
  max-height: 250px;
}

#sidebar .section.contacts a.add-contact {
  display: block;
  margin: 10px auto 0 auto;
  width: 150px;
  text-transform: uppercase;
  text-align: center; 
  font-weight: bold;
  color: #73A3D3;
}

  #sidebar .section.contacts a.add-contact:hover {
    color: #FFFFFF;
    text-decoration: none;
    background: #73A3D3;
  }

#sidebar-slideout form ul.form-navigation {
  margin: 20px 0;
}

  #sidebar-slideout form ul.form-navigation li {
    display: inline-block;
    margin: 0 5px 0 0;
    color: #333;
  }

    #sidebar-slideout form ul.form-navigation li a {
      padding: 5px 7px;
      color: #333333;
      background: #eeeeee;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
    }
    
      #sidebar-slideout form ul.form-navigation li a:hover,
      #sidebar-slideout form ul.form-navigation li a.selected {
        color: #ffffff;
        text-decoration: none;
        background: #73A3D3;
      }

#sidebar-slideout form .fields {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

  #sidebar-slideout form .fields fieldset {
    margin: 0 0 10px 0;
  }
  
    #sidebar-slideout form .fields .contact fieldset {
      float: left;
    }

    #sidebar-slideout form .fields fieldset label {
      display: block;
      margin: 0 0 10px 0;
    }

    #sidebar-slideout form .fields fieldset input.small {
      width: 50px;
    }

    #sidebar-slideout form .fields fieldset input[type=text],
    #sidebar-slideout form .fields fieldset textarea {
      padding: 5px;
    }

    #sidebar-slideout form .fields fieldset .name {
      overflow: hidden;
      margin: 0 0 10px 0;
    }

      #sidebar-slideout form .fields fieldset .name input {
        float: left;
        margin-right: 10px;
        width: 100px;
      }

      #sidebar-slideout form .fields fieldset .email-addresses,
      #sidebar-slideout form .fields fieldset .phone-numbers {
        margin: 0 0 10px 0;
      }
      
        #sidebar-slideout form .fields fieldset .email-addresses .email-address,
        #sidebar-slideout form .fields fieldset .phone-numbers .phone-number {
          display: block;
        }

#sidebar-slideout ul.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

  #sidebar-slideout ul.actions li a.delete {
    color: #B32914;
    font-weight: bold;
  }
